@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes rotate360 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes rotate360 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.animate-rotate {
  animation: rotate360 0.5s forwards;
}

.dropdown-enter {
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  opacity: 0;
  visibility: hidden;
}

.dropdown-enter-active {
  opacity: 1;
  visibility: visible;
}

.sale-frame {
  background-image: url("./assets/Tickets/images/SaleBar.png");
  background-size: 100% 100%;
}
.noto-sans-georgian {
  font-family: "Noto Sans Georgian", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

/* SCROLLBAR IN AIRLINES DROPDOWN FLIGHTS PAGE */
.custom-scrollbar::-webkit-scrollbar-button {
  display: none;
}
.custom-scrollbar::-webkit-scrollbar {
  width: 7px;
  padding-right: 5px;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #c6cbd1;
  border-radius: 8px;
  max-height: 50px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background-color: #e9edf1;
}
