@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes rotate360 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes rotate360 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.animate-rotate {
  animation: rotate360 0.5s forwards;
}

.dropdown-enter {
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  opacity: 0;
  visibility: hidden;
}

.dropdown-enter-active {
  opacity: 1;
  visibility: visible;
}

.sale-frame {
  background-image: url("./assets/Tickets/images/SaleBar.png");
  background-size: 100% 100%;
}
